.addressBackground{
    border-radius: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addressContainer{
    border-radius: 12px;
    background-color: white;
    box-shadow: rgb(254, 254, 254) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px

}

.addressContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleCloseBtn{
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button { 
    background-color: transparent;
    border: none; 
    font-size: 2px;
    cursor: pointer;
    
}

.addressContainer .body{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}


.addressContainer .footer { 
    margin-top: 20px;
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.addressContainer .footer button { 
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancelBtn { 
    background-color: crimson;
}

.body {

    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
}

label{
    
    font-size: 20px;
}