.createContainerBackground {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.modalMintContainer {
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    min-width: 40vw;
    min-height: 60vh;
    max-width: 80vw;
    max-height: 70vh;
}

.modalMintContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 2px;
    cursor: pointer;
}
.modalMintContainer p {
    align-self: center;
}

.modalMintContainer .modal-body {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
}
.modalMintContainer .modal-body>div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
    align-items: center;
}
.modalMintContainer .modal-body .manage-tab-container{
    flex: 1;
    border-radius: 24px;
    max-height: 80px;
}
.manage-tab-container .tab-element{
    cursor: pointer;
}
.manage-tab-container .tab-element>p{
    font-size: 18px;
    margin: 10px 0;
}
.manage-tab-container .activ-tab{
    border-bottom: black 2px solid;
}
.modalMintContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalMintContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancelBtn {
    background-color: crimson;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    font-size: 20px;
}
